
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h1, h1 {
    font-size: 30pt;
}

.h1, .h2, .h3,  h3{
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
    padding: 3% 0 1%;
}

p{
    font-size: 14pt;
}
