.footer {
    background-color: #e8e8e8db;
    display: flex;
    width: 100%;
    flex-direction: column;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
}

.footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5% 2%;
    width: 96%;
}

.column25 {
  width: 25%; 
}

.column50 {
    width: 50%;
    white-space: initial;
}

.footer__rules {
    color: #0000FF;
}

.footer__rules :visited {
    color: #0000FF;
}

.footer a:active {
    color: red;
}

.footer__nav ul {
    
}

.footer__nav ul li {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer__nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1.5% 0;
}

.footer__number {
    display: flex;
}

.footer__number p {
    color: #414e5b;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Century Gothic', 'Open Sans';
    padding: 9% 0;
}

.footer__bottom {
    background-color: #023e7f;
    padding: 0.4% 2%;
    display: flex;
    justify-content: flex-end;
}

.footer__bottom p{
    color: white;
    font-size: 10pt;
}