.content {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    line-height: 20pt;
}


.content__body {
    width: 1100px !important;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (max-width: 1129px) {


    .content__body {
        padding-left: 20px;
        padding-right: 20px;
        width: 100% !important;
        max-width: 100%;
    }
}

@media (max-width: 479px) {
    .content__body {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .content__body img {
        float: none;
        display: block;
        max-width: 100%;
        height: auto !important;
        margin: 10px auto;
    }
}

.description h2 {
    font-size: 18.7pt;
    opacity: 0.7;
}

.button_main {
    display: inline-flex;
}

.button {
    background-color: #218c4f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-top: 2%;
}

.button:hover {
    background: #0e9c4b;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}





.our__contact {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

@media (max-width: 1129px) {
    .our__contact {
        padding-left: 20px;
        padding-right: 20px;
        width: 80% !important;
        max-width: 100%;
    }
}

@media (max-width: 479px) {
    .our__contact {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.phone__number, .address{
    display: flex;
    align-items: center;
    padding: 5%;
}

.phone__number p, .address p{
    padding-left:2%;
    width: 70%;
    font-size: 20pt;
}

.address p{
    font-size: 15pt;
    line-height: 23pt;
}

.mail, .social {
    display: flex;
    align-items: center;
    padding: 5%;
}

.social a{
    padding: 1%;
}

.mail p{
    padding-left:2%;
    width: 100%;
    font-size: 20pt;
}

.contacts {
    display: flex;
    width: 1100px !important;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (max-width: 1129px) {
    .contacts {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        width: 100% !important;
        max-width: 100%;
    }
}

@media (max-width: 479px) {
    .contacts {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.contact_address{
    padding: 5% 0;
    padding-right: 3%;
    
}


.mail__social{
    padding: 5% 0;
    padding-right: 3%;
    
}