.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999999;
}

.modal.active {
  display: flex;
}

.modal__form {
  display: none;
  flex-direction: column;
}

.modal__form form {
  display: flex;
    flex-direction: column;
}
.modal__form.active {
  display: flex;
}

.modal__form.active .modal__header .modal__nav li a{
  background: #FFF;
  color: #505260;
}

.modal__content {
  display: block;
  position: relative;
  width: 30%;
  height: 30%;
  background: lightblue;
}


.modal__header .modal__nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal__header .modal__nav li {
  width: 50%;
  float: left;
  text-align: center;
}

.modal__header .modal__nav .modal__switcher{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
  text-decoration: none;
}

.modal__header .modal__nav .modal__switcher.active{
  background: #FFF;
  color: #505260;
}