


#content h1 {
    margin-bottom: 2rem;
}

body {
    
}

.pravila
{margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    margin-left: 9%;
    margin-right: 9%;
}


